#logo {
	text-align: center;
}

#miTexto {
	text-align: justify;
}

#footer p {
	text-align: right;
	font-size: 10px;
	font-family: Arial;
	color: #2C2C2C;
	padding-right: 30px;
}

.glyphicon {
	margin-bottom: 10px;margin-right: 10px;
}

small {
	display: block;
	line-height: 1.428571429;
	color: #999;
}